*{
	box-sizing: border-box;
}

#title{
	font-family: verdana;
	font-size: 2em;
	text-align: center;
}

#container{
	position: absolute;
	width: 100%;
	padding: 10px;
}

.text{
	position: relative;
	top: 10px;
	font-weight: bold;
}

.region1, .region2, .region3 {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: -2px;
	padding: 3px;
	width: 150px;
	text-align: center;
	font-weight: bold;
	border: 2px solid black;
}

.region1{
	background-color: #FF94C3;
}
.region2{
	background-color: #FF7D33;
}
.region3{
	background-color: #DEDAAF;
}

@media (min-width: 992px){
	.col-lg-4{
		background-color: #C0BDBB;
		font-family: arial;
		box-sizing: border-box;
		position: relative;
		width: 31%;
		float: left;
		border: 2px solid black;
		margin: 10px;
		padding: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		background-color: #C0BDBB;
		font-family: arial;
		box-sizing: border-box;
		position: relative;
		float: left;
		border: 2px solid black;
		margin: 10px;
		padding: 10px;
	}
	.col-md-6{
		width: 47%;
	}
	.col-md-12{
		width: 96%;
	}
}
@media (max-width: 767px){
	.col-sd-12{
		background-color: #C0BDBB;
		font-family: arial;
		box-sizing: border-box;
		position: relative;
		width: 96%;
		float: left;
		border: 2px solid black;
		margin: 10px;
		padding: 10px;
	}
}